body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 5px;
}

/* Responsive Styles */
@media screen and (min-width: 600px) {
    section {
        margin: 40px;
        padding: 40px;
    }

    h2 {
        font-size: 1.5em;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    li {
        font-size: 0.9em;
        width: 45%; /* Adjust based on the number of items per row */
    }
}

@media screen and (min-width: 900px) {
    section {
        margin: 60px;
        padding: 60px;
    }

    h2 {
        font-size: 2em;
    }

    li {
        font-size: 1em;
        width: 30%; /* Adjust based on the number of items per row */
    }
}
